@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

:root {
  --bg-color: #121212;
  --second-bg-color: #202020;
  --text-color: #ffffff;
  --main-color: #b68362;
  --other-color: #8b8a91;
  --alt-color: #4b4b51;
  --ann-color: #c7c6d3;
  --mode-red: #c00000;

  --h1-font: 5rem;
  --h2-font: 3.8rem;
  --p-font: 1.1rem;
  --h4-font: 1.7rem;
}


body{
    background-color: #E3E7E8;
    font-family: "Questrial", sans-serif;

}


